/* This is the background color of the header */
header {
	background: #333333;
	}
/* This is the "Student Bio" */
h1 {
	text-align: center;
	font-size: 28px;
	color: #eee;
	margin-bottom: 20px;
	margin: 0;
	padding: 20px 0;
}

/* This is the body and  */
body {
	background-color: #efeee7;
	font-family: "Georgia", Times New Roman, Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
	line-height: 150%;
}

a {
	color: #d21034;
}

h2 {
	font-size: 24px,
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#bio-image {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

#main-bio {
	width: 70%;
}

#contact-info{
	width: 30%;
}

#main-bio,
#contact-info,
#bio-image {
	float: left;
}